<% provide(:title, "Employees") %>
<% params[:page_size] ||= '10' %>
<% params[:page] ||= '1' %>
<% params[:order] ||= 'name'%>
<% params[:direction] ||= 'DESC' %>

 <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Username</th>
    </tr>
    <% Employee.limit(params[:page_size].to_i)
           .offset(params[:page_size].to_i * (params[:page].to_i - 1))
           .order("#{params[:order]} #{params[:direction]}")
           .where(employer_id: session[:employer]).each do |employee| %>
      <tr>
        <td>
          <%= employee.name %>
        </td>
        <td>
          <%= employee.username %>
        </td>
      </tr>
    <% end %>
  </table>