<% provide(:title, "Properties") %>
<% params[:page_size] ||= '10' %>
<% params[:page] ||= '1' %>
<% params[:order] ||= 'created_at'%>
<% params[:direction] ||= 'DESC' %>

 <table WIDTH="50%" BORDER="2" ALIGN="CENTER" CELLSPACING="40">
    <% Property.limit(params[:page_size].to_i)
           .offset(params[:page_size].to_i * (params[:page].to_i - 1))
           .order("#{params[:order]} #{params[:direction]}")
           .all.each do |property| %>
      <tr ALIGN="CENTER">
        <td>
          <%= property.name %>
        </td>
        <td>
          <%= link_to "View Logs", logs_path(property: property.id), class: "btn btn-primary center" %>
        </td>
        <td>
        </td>
        <td>
          <%= link_to "Create QR Code", new_qr_code_path(property: property.id), class: "btn btn-primary center" %>
        </td>
      </tr>
    <% end %>
  </table>