// Place all the styles related to the employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    font-size: 20px;
    line-height: 20px;
}
th {
    height: 5px;

}
td {
    padding: 5px;
}
