<% provide(:title, "Logs") %>
<% params[:page_size] ||= '10' %>
<% params[:page] ||= '1' %>
<% params[:order] ||= 'created_at'%>
<% params[:direction] ||= 'DESC' %>

 <table WIDTH="50%" BORDER="2" ALIGN="CENTER" CELLSPACING="40">
    <tr ALIGN="Center">
      <td>Title</td>
      <td>Body</td>
      <td>Employee</td>
      <td>Time</td>
    </tr>
    <% Log.limit(params[:page_size].to_i)
           .offset(params[:page_size].to_i * (params[:page].to_i - 1))
           .order("#{params[:order]} #{params[:direction]}")
           .all.each do |l| %>
           <% qr = QrCode.find_by(id: l.qr_code_id) %>
           <% employee = Employee.find_by(id: l.employee_id) %>
      <tr ALIGN="CENTER">
        <td>
          <%= qr.title %>
        </td>
        <td>
          <%= qr.body %>
        </td>
        <td>
          <%= employee.name %>
        </td>
        <td>
          <%= l.created_at %>
        </td>
      </tr>
    <% end %>
  </table>